{% extends 'ngobase.html' %}
{% load static%}
{% block mycss%}
<link rel="stylesheet" href="{% static '/css/userhomepage.css' %}">
{% endblock mycss%}
{% block content%}
<!--
<a href="#">Home</a>
<a href="{% url 'ngopages:addactivity' %}">Add Activies</a>
<a href="{% url 'ngopages:editngoprofile' slug=request.user.slug %}">Edit Profile</a>
<br><br><br>
-->
<br><br><br>
 <div class="jumbotron" id="mainheading">
      <h1>Your Posted Campaigns</h1>
  </div>

<div class="d-block m-5" id="secondbody">
<div class="d-block" id="cardid">
    <br><br>
  {%for activity in activities%}
 <div class="card">
  <div class="card-header bg-secondary text-dark">
      <h5>{{activity.title}}<span class="badge bg-dark">{% if activity.complete == False %}Awaiting
            {% else %} Completed
            {% endif %}</span> </h5>
      <h5>Posted By-{{activity.ngo.ngo_name}}</h5>
  </div>
  <div class="card-body">
    <h6 class="card-text">Description:{{activity.detail}}</h6>
    <h6 class="card-text">Notes For Donner:{{activity.note_for_donner}}</h6>
    <h6 class="card-text">Notes For Neddy:{{activity.note_for_needy}}</h6>
    <h6 class="card-text">Required Document List:{{activity.document_list}}</h6>
      <h6 class="card-text">Event Date:{{activity.date}} </h6>
      <h6 class="card-text"> Event Time:{{activity.time}} </h6>
      <h6 class="card-text"> Event Location:{{activity.location}}</h6>
      <h6 class="card-text">Map Url:<a>{{activity.location_map_url}}</a></h6>
      <h6 class="card-text">Posted Date & Time:{{activity.posted_date}}|{{activity.posted_time}}</h6>
      <a href="{% url 'ngopages:editactivity' slug=activity.slug %}" class="btn btn-primary">Edit</a> <a href="{%url 'ngopages:deleteactivity' slug=activity.slug%}"style="margin-left:15px" class="btn btn-danger">Delete</a>

    </div>
  </div>
  <br><br>
    {% empty %}
    <h1>Sorry! You haven't posted any Campaign</h1>
    <br><br>
    {% endfor%}
</div>
</div>
<!--
Your Recent Activites:
<table cellpadding="1.5px" padding="1.5px" border="2px">
    <thead>
    <th>NGO</th>
    <th>Title</th>
    <th>Details</th>
    <th>Event Date</th>
    <th>Event Time</th>
    <th>Event Location</th>
    <th>Location Url</th>
    <th>Note For Donner</th>
    <th>Note for Needy</th>
    <th>Posted Date</th>
    <th>Posted Time</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>
    <tbody>
    {%for activity in activities%}
    <tr>
        <td>{{activity.ngo.ngo_name}}</td>
        <td>{{activity.title}}</td>
        <td>{{activity.detail}}</td>
        <td>{{activity.date}}</td>
        <td>{{activity.time}}</td>
        <td>{{activity.location}}</td>
        <td>{{activity.location_map_url}}</td>
        <td>{{activity.note_for_donner}}</td>
        <td>{{activity.note_for_needy}}</td>
        <td>{{activity.posted_date}}</td>
        <td>{{activity.posted_time}}</td>
        <td>{% if activity.complete == False %}Pending
            {% else %} Completed
            {% endif %}
        </td>
        <td><a href="{% url 'ngopages:editactivity' slug=activity.slug %}"> Edit </a> </td>
        <td><a href="{% url 'ngopages:deleteactivity' slug=activity.slug %}"> Delete</a></td>
    </tr>
    {% empty %}
    <h5>No Activities</h5>
    {% endfor%}
    </tbody>
</table>
-->
{%endblock content%}