{% extends 'base.html' %}
{% load static%}
{% block content%}
<h4>{{ngo.ngo_name}}</h4>
<P>Address: {{ngo.address}}</P>
<p>City: {{ngo.city}}</p>
<p>State: {{ngo.state}}</p>
<p>Contact Number: {{ngo.contact_number}}</p>
<p>Website: {{ngo.website}}</p>
<p>Category: {{ngo.category}}</p>
<p>Mission: {{ngo.mission}}</p>
<p>Paypal Account: {{ngo.paypal_account}}</p>
<p>Bank Name: {{ngo.bank_name}}</p>
<p>Bank Account Number: {{ngo.bank_account_number}}</p>
<p>Bank IFSC Code:{{ngo.bank_ifsc_code}} </p>
<p>Registered Date:{{ngo.register_date}}</p>

{% endblock content%}