<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poverty care</title>
</head>
<body>
<table cellpadding="1.5px" padding="1.5px" border="2px">
    <thead>
    <th>NGO Name</th>
    <th>Mission</th>
    <th>Contact Number</th>
    </thead>
    {% for ngo in ngos%}

        <tr>

        <td><a href="{% url 'ngopages:ngodetail' slug=ngo.slug %}">{{ngo.ngo_name}}</a></td>
        <td>{{ngo.mission}}</td>
        <td>{{ngo.contact_number}}</td>

        </tr>

    {% empty %}
    <h3>No NGO Registered in this category</h3>
    {% endfor %}
</table>
</body>
</html>